# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

CMakeLists.txt.user
CMakeLists_modified.txt

Examples/RGB-D/bin/

Examples/RGB-D-Inertial/bin/

Examples/Monocular/bin/

Examples/Stereo/bin/

Examples/Monocular-Inertial/bin/

Examples/Stereo-Inertial/bin/


Examples/ROS/orb_slam-3/bin/

Examples/Calibration/bin/

Examples/Tests/viewer_dataset
Examples/Tests/sophus_test

Examples/ROS/orb_slam-3/CMakeLists.txt.user
Examples/ROS/orb_slam-3/build/

Examples_old/ROS/ORB_SLAM3/bin/

KeyFrameTrajectory.txt
CameraTrajectory.txt
kf_*.txt
f_*.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
build/

lib/

cmake_modules/
cmake-build-debug/

ExecMean.txt
SessionInfo.txt
Results_Euroc.txt
LBA_Stats.txt
LocalMapTimeStats.txt
TrackLocalMapStats.txt
TrackingTimeStats.txt
#time*
#Thirdparty/g2o/g2o/stuff/timeutil.cpp
#Thirdparty/g2o/g2o/stuff/timeutil.h
#Time*
#Thirdparty/DBoW2/DUtils/Timestamp.cpp
#Thirdparty/DBoW2/DUtils/Timestamp.h
Table_Euroc
Table_TUMVI_rooms/
*.pyc
*.osa
.idea/
my_settings.txt

borrar/*

*/ExecMean.txt

.vscode/
Examples_old/ROS/orb_slam-3/bin/
